# POSTEST 4

#### Nama : Daviana Dwitasari
#### NIM : 2109106064

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
dataset_split = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [3]:
dataset_split.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
dataset_split.shape

(5110, 12)

## Membagi Training Set dan Test Set

In [5]:
x = dataset_split.iloc[:,:-1]
y=dataset_split.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [6]:
print ("dimensi x train : " , x_train.shape)
print ("dimensi x test : " , x_test.shape)
print ("dimensi y train : " , y_train.shape)
print ("dimensi y test : " , y_test.shape)

dimensi x train :  (3577, 11)
dimensi x test :  (1533, 11)
dimensi y train :  (3577,)
dimensi y test :  (1533,)

## Data Cleaning

In [7]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [8]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

## Menangani Nilai NULL

In [9]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

#### Terdapat Nilai NULL pada atribute BMi, dan bertipe data Float

### Mengubah Nilai null yang ada pada baris 1:5

In [10]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")

In [11]:
df["bmi"] = imputer.fit_transform(df[["bmi"]])

In [12]:
df[1:5]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [13]:
df.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

### Menangani Nilai Duplicate

In [14]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [15]:
df.duplicated().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0       False
1       False
2       False
3       False
4       False
        ...
5105    False
5106    False
5107    False
5108    False
5109    False
Length: 5110, dtype: bool>

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

## Normalisasi

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
min_max_scaler = MinMaxScaler()

In [20]:
x_scaled = min_max_scaler.fit_transform(
    df[['avg_glucose_level']]
)

In [21]:
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0
0  0.801265
1  0.679023
2  0.234512
3  0.536008
4  0.549349

## Standarisasi

In [22]:
np.std(df)

C:\Users\USER\venv_B1-21\Daviana_064\lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

id                   21159.650905
age                     22.610434
hypertension             0.296578
heart_disease            0.226041
avg_glucose_level       45.279129
bmi                      7.697265
stroke                   0.215299
dtype: float64

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
ss = StandardScaler()

In [27]:
x_scaled2 = ss.fit_transform(
     df[['age', 'bmi', 'avg_glucose_level']])

In [28]:
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

          0             1         2
0  1.051434  1.001234e+00  2.706375
1  0.786070  4.615554e-16  2.121559
2  1.626390  4.685773e-01 -0.005028
3  0.255342  7.154182e-01  1.437358
4  1.582163 -6.357112e-01  1.501184

In [29]:
np.std(x_scaled2)

1.0

In [30]:
np.mean(x_scaled2)

6.118176198325716e-17

In [31]:
dataset_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

### Mengubah tipe data salah satu atribut yang sebelumnya dengan float64 menjadi int64

In [32]:
print("tipe data sebelum: ")
df["age"].dtypes

tipe data sebelum:

dtype('float64')

In [33]:
print("tipe data sesudah: ")
dfganti = df[["age"]].astype("object")
dfganti["age"].dtypes

tipe data sesudah:

dtype('O')

## One hot encoding

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [42]:
df_oneHot = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [43]:
encoding = OneHotEncoder(sparse=False)

In [44]:
encoded = encoding.fit_transform(df_oneHot[['work_type']])

C:\Users\USER\venv_B1-21\Daviana_064\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [46]:
df_oneHot.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1